.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-box {
  width: 52px;
  height: 52px;
  border-radius: 0;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020202;
  font-weight: 800;
  font-size: 1.1rem;
  box-shadow: 0 18px 45px rgba(255, 255, 255, 0.08);
}

.logo-text h2 {
  font-size: 20px;
  color: white;
  margin: 0;
}

.logo-text span {
  font-size: 12px;
  color: #a5a5a5;
}
