.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 60px;
  height: 60px;
  border-radius: 0;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020202;
  text-decoration: none;
  font-size: 30px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.12);
  transition: 0.3s;
}

.whatsapp-btn:hover {
  transform: scale(1.05);
}
